.home {
    text-align: center;
    background-color: #1d3f58;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #b3cde4;
    overflow: hidden;
    width: 100vw;
}

@media (max-width: 768px) {
    .home {
        font-size: calc(12px + 1vmin);
    }

    p {
        font-size: larger;
    }
}
