.input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.error-container {
    display: flex;
    align-items: center;
    height: 1.25rem;
}

.input-location {
    display: flex;
    gap: 0.25rem; /* Space between input and button */
}

.input-field {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

.input-button {
    padding: 8px;
    background: #b3cde4;
    color: #001b2e;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-button:hover {
    background: #85a0b8;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .input-container {
        display: block;
        align-items: center;
        gap: 1rem;
    }
}
